<div class="col-md-12">
        
   
    <div class="alert alert-danger" ng-show="error_form">
        <button data-dismiss="alert" class="close" type="button">×</button>
        <span class="entypo-attention"></span>
        <strong>Oh snap!</strong>&nbsp;&nbsp;Ensure all field are supplied correctly, then try again.
    </div>

     <div class="alert alert-warning" ng-show="warning_form">
        <button data-dismiss="alert" class="close" type="button">×</button>
        <span class="entypo-attention"></span>
        <strong>Duplicate Cordinates!</strong>&nbsp;&nbsp;{{txt_station_name}} with Same Cordinates exist, please try again  </div>
    
    <div class="alert alert-success" ng-show="success_form">
        <button data-dismiss="alert" class="close" type="button">×</button>
        <span class="entypo-thumbs-up"></span>
        <strong>Well done!</strong>&nbsp;&nbsp;You successfully added  {{txt_station_name}} to Bus station.
    </div>


    <div class="body-nest" id="validation">
        <div class="form_center">

            <form name="form_addBusStation" id="form_addBusStation" ng-model="form_addBusStation" class="form-horizontal">
                <fieldset>


                    <div class="control-group">
                        <label class="control-label" for="name">Bus Station Name : </label>
                        <div class="controls">
                            <input type="text" ng-model="txt_station_name" required class="form-control" name="name" id="name">
                        </div>
                    </div>
                     <div class="control-group">
                        <label class="control-label" for="email">State</label>
                        <div class="controls">
                            <select ng-model="sel_state" class="form-control">
                                <option value=""> - Select State - </option>
                              
                                <option ng-repeat="state in states" value="{{state._id}}">
                                    {{state.states_name}}
                                </option>

                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="email">Longitude</label>
                        <div class="controls">
                            <input  ng-model="txt_longitude"  type="text" required class="form-control" name="txt_longitude" id="txt_longitude">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="subject">Latitude</label>
                        <div class="controls">
                            <input type="text" required  ng-model="txt_latitude" class="form-control" name="txt_latitude" id="txt_latitude">
                        </div>
                    </div>
                   
                    <div class="form-actions" style="margin:20px 0 0 0;">
                        <button ng-click="submitForm(form_addBusStation)" type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn">Cancel</button>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>

</div>

