<div class="col-md-12">
        
   
    <div class="alert alert-danger" ng-show="error_form">
        <button data-dismiss="alert" class="close" type="button">×</button>
        <span class="entypo-attention"></span>
        <strong>Oh snap!</strong>&nbsp;&nbsp;Ensure all field are supplied correctly, then try again.
    </div>

     <div class="alert alert-warning" ng-show="warning_form">
        <button data-dismiss="alert" class="close" type="button">×</button>
        <span class="entypo-attention"></span>
        <strong>Duplicate Records!</strong>&nbsp;&nbsp;{{txt_phone}} / {{ txt_email}} exist, please try again  </div>
    
    <div class="alert alert-success" ng-show="success_form">
        <button data-dismiss="alert" class="close" type="button">×</button>
        <span class="entypo-thumbs-up"></span>
        <strong>Well done!</strong>&nbsp;&nbsp;You successfully added  {{ txt_name }} to Operators.
    </div>


    <div class="body-nest" id="validation">
        <div class="form_center">

            <form name="form_addOperator" id="form_addOperator" ng-model="form_addOperator" class="form-horizontal">
                <fieldset>


                    <div class="control-group">
                        <label class="control-label" for="name">Operator's Name : </label>
                        <div class="controls">
                            <input type="text" ng-model="txt_name" required class="form-control" name="txt_name" id="txt_name">
                        </div>
                    </div>
                     <div class="control-group">
                        <label class="control-label" for="email">State</label>
                        <div class="controls">
                            <select ng-model="sel_state" class="form-control">
                                <option value=""> - Select State - </option>
                              
                                <option ng-repeat="state in states" value="{{state._id}}">
                                    {{state.states_name}}
                                </option>

                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="email">E-mail : </label>
                        <div class="controls">
                            <input  ng-model="txt_email"  type="email" required class="form-control" name="txt_email" id="txt_email">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="email">Phone : </label>
                        <div class="controls">
                            <input  ng-model="txt_phone"  type="tel" required class="form-control" name="txt_phone" id="txt_phone">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="subject">Address : </label>
                        <div class="controls">
                            <input type="text" required  ng-model="txt_address" class="form-control" name="txt_address" id="txt_address">
                        </div>
                    </div>
                   
                    <div class="form-actions" style="margin:20px 0 0 0;">
                        <button ng-click="submitForm(form_addOperator)" type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn">Cancel</button>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>

</div>

